


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register {
    height: 100vh;
    background: #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 75%;
    max-width: 1000px;
    display: flex;
    background-color:white;
    border-radius: 10px;
    min-height: 550px;
    overflow: hidden;
    flex-direction: row;
}

.selector #selector1,
.selector #selector2 {
    width: 50%;
}

.date label,
.date input {
    width: 50%;
}

.left {
    flex: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.left h1 {
    color: #c069a7;
}

.left form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left form input,
select {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
}

.left form input:focus,
.left form select:focus {
    outline: none;
}

.left form button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #843E71;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Gender,
#countryCode,
.phone,
#date {
    width: 50%;
}

.left .name,
.left .numbers,
.left .selector,
.left .pass,
.left .date {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.left .date label {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding-top: 10px;
}

.left .name input,
.left .pass input {
    width: 50%;
}

.right {
    flex: 1;
    background: linear-gradient(#53364bba, #5d35522c), url("https://images.pexels.com/photos/4167542/pexels-photo-4167542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    justify-content: center;
    position: relative;
    padding: 30px;
}

.right h1 {
    font-size: 50px;
    line-height: 50px;
}

.right .img {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    margin-bottom: 250px;
}

.right button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: white;
    color: #843E71;
    font-weight: bold;
    cursor: pointer;
}

.right .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #632b54;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 80px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 1224px) {
    .register {
        min-height: 150vh;
    }

    .card {
        flex-direction: column-reverse;
    }

    .right .img,
    .right .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .register {
        min-height: 210vh;
    }

    .card {
        flex-direction: column-reverse;
        width: 80%;
    }

    .left,
    .right {
        padding: 20px;
    }

    .left form button,
    .right button {
        width: 80%;
    }

    .left form {
        justify-content: start;
        padding-left: 30px;
        padding-right: 10px;
    }

    .left form input {
        width: 80%;
    }

    .left .numbers,
    .left .selector {
        justify-content: start;
        align-items: start;
    }

    .left .name,
    .left .numbers,
    .left .selector,
    .left .pass,
    .left .date {
        flex-direction: column;
        gap: 20px;
    }

    .Gender,
    #countryCode,
    .phone,
    #date,
    .left .name input,
    .left .pass input,
    .selector #selector1,
    .selector #selector2,
    .date input,
    .left .date label {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .right h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .right .img {
        text-align: center;
    }

    .right p {
        font-size: 14px;
    }
}